    {% extends 'base.html.twig' %}
{% block title %}babyStuff | a-propos{% endblock %}


    {% block body %}
    <div class="header">
        <h1>A propos de Babystuff</h1>
    </div>
    <section class="about">
    
        <div class="img-header ">

            <img class="about-image-left rounded float-left w-100" src="{{ asset('adorable-affection-baby-2015884.jpg') }}"
                alt="about" />
        </div>

    </section>
    {% endblock %}