{% extends 'base.html.twig' %}

{% block title %}Hello BabyProductsController!{% endblock %}

{% block body %}

 <section class="header">
            <header>
            <h1>Welcom</h1>
            <div class="content">
            
            <img src="http://placehold.it/800x150">
            
            </div>

            </header>
        
    </section>
{% endblock %}
