{% extends 'base.html.twig' %}
{% block body %}

<h1> {{ fournisseur.nom }} </h1>
<div class="container">
    <div class="row" <div class="row new-products">
        <!--useing slick-->
        {% for fournisseur in pagination %}
        <div class="col-sm-3 card single-product ">
            <div class="card-body">
                <div class="product-image ">
                    <img src="{{ fournisseur.image }}" alt="">
                </div>
                <div class="card-title product-title"> {{ fournisseur.nom }} </div>
            </div>
        </div>
        {% endfor %}
        </div>
                <div class="navigation">
                {{ knp_pagination_render(pagination) }}
                <div>
       
    </div>
</div>
{% endblock body %}