{% extends 'base.html.twig' %}
{% block body %}

<h1> {{ fournisseur.nom }} </h1>
<div class="containner">
<div class="row">
            <div class="col-sm-3 card single-product ">
                <div class="card-body">
                    <div class="product-image">
                        <img src="{{ fournisseur.image }}" alt="">
                        <p class="card-text">{{fournisseur.nom }}</p>
                    </div>
                    <div class="card-title product-title"> </div>
                    <a href="#" class="btn btn-primary add-to-cart"> Check out!!</a>
                </div>
            </div>
            <!--END SINGLE PRODUCTS-->
        </div>
</div>
{% endblock body %}
