{% extends 'base.html.twig' %}

{% block title %}babyStuff | Panier{% endblock %}

{% block stylesheets %}
<style>
    body {
        padding-top: 80px;
    }
</style>

{% endblock %}



{% block body %}
<h1>votre panier</h1>

{{ dump(app.session.get('my_cart'))}}
{{ dump(cartDetails) }}

{% endblock %}
