{% extends 'base.html.twig' %}

{% block title %}babyStuff | Panier{% endblock %}

{% block stylesheets %}
<style>

body{
 padding-top: 80px;
}
    
</style>

{% endblock %}
{% block body %}

<h1>votre panier</h1>

{% for product in app.session.get('my_cart')[0]['listproducts'] %}
        <li>{{ product.product_id }}</li>
    {% endfor %}
{% endblock %}
