@media only screen and (min-width: 994px) {
    #carouselExampleControls .carousel-inner {
        height: 400px;
    }
    #carouselExampleControls .carousel-inner {
        height: 400px;
    }
    #carouselExampleControls .carousel-inner img {
        height: 400px;
    }
}

.title-home {
    font-family: 'Lilita One', cursive;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/


/* ############End Media######################## */

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    grid-template-rows: 1fr auto;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,
h4,
h3 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    line-height: 1.1;
}

h5 {
    color: black;
}

.navbar {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #BF3F61, #6CCED9);
}

.sectionTitle h1 {
    margin-top: 1px;
    padding-bottom: 3px;
}

.slick-arrow::before {
    color: #000000;
}


/* the slides */

.slick-slide {
    margin: 0 27px;
}


/* the parent */

.card-title,
.product-title {
    font-weight: bold;
    color: #000000;
    text-align: center
}

.product-price {
    color: green;
    text-align: center
}

.add-to-cart {
    margin: 0 auto;
    padding: 0.5px;
    display: block;
    font-size: 18px;
}

.product-titlemm,
.product-price {
    margin-top: 5px;
    margin-bottom: 5px;
}

.add-to-favourite {
    position: absolute;
    right: 5px;
    top: 5px;
    color: red !important;
}

.feartures,
.mailleure-produits,
.marques-product {
    padding-bottom: 40px
}

#footer {
    height: 90px;
    color: black;
    /* Height of the footer */
    background-image: linear-gradient(to right, #74EBD5, #ACB6E5);
    text-align: center;
}

.card-deck {
    padding-top: 20px
}

.card-text {
    text-align: center;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    display: flex;
    align-items: center;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card {
    margin: 19.50px;
    flex-direction: column;
}

.about,
.marques {
    display: grid;
    align-items: center;
    padding: 4rem 2rem;
}

.marques {
    margin-left: 10%;
}

.header {
    margin: 5% 0 5% 0;
}

.product-pre {
    padding-left: 20px;
    top: -50px;
}

.title-css {
    font-family: inherit;
    font-weight: 800;
    color: #282828;
}

.price-css {
    padding-top: 5px;
    font-size: 2.5rem;
    line-height: 3.125rem;
    font-weight: 700;
    color: #01bcb5;
    letter-spacing: 0;
}


/* STRUCTURE */

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 1080px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formContentRe {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #d7f7f5;
    padding: 30px;
    width: 80%;
    max-width: 1080px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}


/* ANIMATIONS */


/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}


/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}


/* OTHERS */

*:focus {
    outline: none;
}

#icon {
    width: 30%;
}

.pull-left {
    float: left!important;
}