{% extends 'base.html.twig' %}
{% block stylesheet %}
<style>
.container{
    margin-top:900px;
}
</style>
{% endblock %}
{% block body %}


    <div style="margin-top:100px;">
        <h1 class="alert alert-danger text-center">Access Denied</h1>
     
    </div>
{% endblock %}
