{% extends 'base.html.twig' %}

{% block content %}


    <div class="container" style="margin-top:100px;">
        <h1 class="alert alert-danger text-center">Access Denied</h1>

    </div>
{% endblock %}
