{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
  .form-group {
    text-align: center;
    margin: 50px 0 0 100px;
  }

  .form-title {
    text-align: center;
    margin: 10px 0 100px 0;
  }
</style>

{% endblock %}

{% block title %}Babystuff | se connecter{% endblock %}

{% block body %}
<div class="wrapper fadeInDown">
  <div id="formContentRe">
    <!-- Tabs Titles -->
    <h1>Bienvenu sur BabyStuff</h1>
    <!-- Register Form -->
    <section class="signup">
      <!-- <img src="images/signup-bg.jpg" alt=""> -->
      <div class="container">
        <div class="signup-content">
          <form method="POST" id="signup-form" class="signup-form">
            <h2 class="form-title"> Create account</h2>

            <div class="form-group col-sm-5 row">
              <label for="name"> Nom Complet</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Votre Nom" />
            </div>

            <div class="form-group col-sm-9 row">
              <label for="email" class=" "> Entre votre E-mail</label>
              <input type="password" class="form-control" name="email" id="email" placeholder="vous.@exemple.com" />
            </div>

            <div class="form-group col-6 row">
              <label for="tel"> Telephone</label>
              <input class="form-control" type="tel" name="tel" placeholder="1-(555)-555-5555">
            </div>
        </div>

        <div class="form-group col-sm-6 row">
          <label for="Adresse">Adresse</label>
          <textarea class="form-control" rows="5" id="Adresse"></textarea>
        </div>

        <div class="form-group col-sm-6 row">
          <label for="password"> Mot de passe </label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Votre mot de passe" />
        </div>

        <div class="form-group col-sm-6 row">
          <label for="re_password" class=" "> Confirmer mot de passe</label>
          <input type="password" class="form-control" name="re_password" id="re_password"
            placeholder="Confirmer ce mot de passe" />
        </div>

        <div class="form-group col-sm-9">
          <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
          <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in <a
              href="#" class="term-service">Terms of service</a></label>
        </div>

        <div>
          <input type="submit" name="submit" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" value="S'inscrire" />
        </div>

        </form>

        <p class="loginhere">
          Vous avez déjà un compte ? <a href="{{ path('login') }}" class="loginhere-link">Connectez-vous ici</a>
        </p>
      </div>
  </div>
  </section>

</div>

</div>
{% endblock %}