{% extends 'base.html.twig' %}
{% block title %}BabyStuff | Account{% endblock %}

{% block stylesheets %}
<style>
  body,
  html {
    height: 100%;
    width: 100%;
  }
  .container-list{
    margin:10px 0 10px 10px;
  }

</style>
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-12">
    <h1 class="Welcom-title"> Paramètres du compte- <small>{{ (app.user.nom) }}</small>
      <h1>
  </div>
  <div class="container-list">
    <div class="list-group ">
      <a href="{{ path('user_profile') }}" class="list-group-item " style="color:black"><i class="fas fa-user"></i>
        Profile
      </a>
      <a href="{{ path('admin_user_list') }}" class="list-group-item" style="color:black"><i class="fas fa-lock"></i>
        Changer le mot de passe
      </a>

      <a href="{{ path('logout') }}" class="list-group-item" style="color:black"><i
          class="fas fa-sign-out-alt"></i>
        Deconnexion
      </a>
    </div>
  </div>
</div>

{% endblock %}
