{% extends 'base.html.twig' %}
{% block title %}BabyStuff | User-Orders{% endblock %}

{% block stylesheets %}
<style>
    body,
    html {
        height: 100%;
        width: 100%;
    }



 

</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="Welcom-title"> {{ (app.user.nom) }} | <small>List des commandes</small>
                <h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            {% include 'user_account/menu.html.twig' %}
        </div>
        <div class="col-sm-9">
            <table class="table">
                <thead>
                    <tr bgcolor="d7f7f5">
                        <th scope="col">les commande</th>
                        <th scope="col">Date du commande</th>
                        <th scope="col-md-2">actes</th>
                    </tr>
                </thead>

                <tbody>
                    {% for userOrders in app.user.commandes %}
                    <tr>
                        <td>{{ userOrders.id }} </td>
                        <td>{{ userOrders.createdAt|date("m/d/Y H:i", "Europe/Paris") }}</td>
                        <td><a href="{{ path('user_detail',{'id':userOrders.id}) }}"><i
                                    class="fas fa-eye btn-light btn-sm"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% endblock %}
