{% extends 'base.html.twig' %}
{% block title %}BabyStuff | Account{% endblock %}

{% block stylesheets %}
<style>
    body,
    html {
        height: 100%;
        width: 100%;
    }

    .container {
        text-align: center;
        margin-bottom: 40px;
    }

    .alert {
        text-align: center;
        float: center;
        width: 40%;
    }

</style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="Welcom-title"> Bienvenu | <small> {{ (app.user.nom) }} {{ (app.user.prenom) }} </small> </h1>

    </div>
</div>
{% for message in app.flashes('success') %}
<div class="alert  sm-success alert-success" role="alert">
    {{ message }}
    {% endfor %}
</div>

<div class="container">
    {% include 'user_account/menu.html.twig' %}
</div>

{% endblock %}

{% block javascripts %}
<script>
    setTimeout(function () {
        $('div.alert').delay(6000).slideUp(300);
    }, 5000); // 5 secs

</script>
{% endblock %}
