{% extends 'base.html.twig' %}

{% block body %}
<h1> Oops!</h1>

<p>
    La page demandée n'a pas pu être localisée. Commander pour toute URL mal orthographiée ou <a
        href="{{path('home')}}">retourner à la page d'accueil</a>.
</p>
{% endblock %}
